* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a,
h1 {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.container {
  display: block;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.header {
  padding-inline: 60px;
  padding-block: 1rem;
  background-color: #333333;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

.navbar li:hover,
.navbar li:focus {
  transform: scale(1.1);
}

.hamburger{
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #eeeeee;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #eeeeee;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #333333;
    clip-path: circle(100px at 80% -14%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .navbar a {
    font-size: 24px;
    opacity: 0;
  }

  .navbar li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .navbar li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  
  .navbar li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav.active .navbar {
    clip-path: circle(1500px at 80% -14%);
    pointer-events: all;
  }

  .nav.active .navbar a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 10px;
    right: 55px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

}

.add-article {
  background-color: black;
  padding: 0.25rem;
}

.ph-plus {
  font-size: 2rem;
  color: white;
}


.editor::backdrop {
  background-image: linear-gradient(45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green);
  opacity: 0.75;
}

header {
  margin-bottom: 1rem;
}

main {
  background-color: #eeeeee;
  padding: 5rem
}

.article {
  display: flex;
  align-items: start;
  gap: 1rem;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

img {
  max-width: 100%;
}

.article div {
  padding: 0.5rem;
  ;
}

.article p {
  margin-top: 1rem;
  font-size: 1rem;
}

dialog {
  width: 100vw;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

textarea#article-input {
  width: 100vw;
}

div#editor-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  h2 {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 10px;
  }

  .header {
    gap: 1rem;
  }

  .header
  .flex {
    flex-direction: column;
  }

  .article {
    flex-direction: column;
    align-items: center;
    padding: 1.0rem;
    gap: 2rem;
    width: 80%;
  }

  .article p {
    font-size: 1.25rem
  }
}

@media (max-width: 500px) {
  .article {
    flex-direction: column;
    align-items: center;
    padding: 1.0rem;
    gap: 2rem;
    width: 100%;
  }

  .article p {
    font-size: 1.25rem
  }
}